/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$orange: #F2633F;
$light-orange: #FFA48D;
$charcoal: #2C2C30;
$gray: #8F8F8F;
$light-gray: #C4C4C4;

// $grey: rgba(0,0,0,0.9);