#portfolio-gallery {
    margin: 40px 20px 0px 20px;

    #filter-container{
        @include xl{
            display: grid ;
            grid-template-columns: auto 1000px auto;
            grid-template-areas: ". gallery .";
        }
        #gallery{
            grid-area: gallery ;
            width: 100%;
            display: grid ;
            grid-template-rows: repeat(12, 300px);
            gap: 40px;

            @include md{
                display: grid ;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 300px);
                gap: 40px;
            }

            @include lg{
                display: grid ;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(8, 300px);
                gap: 40px;
                // grid-template-areas: 
                // "g1 g2"
                // "g1 g3"
                // "g5 g4"
                // "g6 g4"
                // "g7 g8"
                // "g7 g9"
                // "g11 g10"
                // "g12 g10";

                .big{
                    grid-row-end:span 2;
                }

            }

            .filtr-item{
                 // background-color: $black;
                // height: 300px;
                width: 100%;
                // border: 1px solid red;


                a:link, a:visited{
                    color: $black;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    display: inline-block;
                }

                .portfolio-project-container{
                    height: 100%;
                    width: 100%;
                    display: grid ;
                    grid-template-rows: auto 35px 30px;
                    grid-template-areas: 
                    "image" 
                    "title" 
                    "tag";

                    .portfolio-cover-image{
                        background-size: cover ;
                        background-position: center ;
                        grid-area: image ;
                        &:hover{
                            transform:scale(1.02);
                            box-shadow: 0px 0px 20px -9px #000000;
                            transition: 0.25s;
                          }
                    }
                    .portfolio-title{
                        padding-top: 15px;
                        // border: 1px solid yellow;
                        grid-area: title;
                        text-align: left;
                        font-size: 0.9em;

                        @include lg{
                            font-size: 1em;
                        }
                        
                       
                    }
                    .portfolio-tags{
                        // border: 1px solid yellow;
                        grid-area: tag;
                        text-align: left;
                        font-size: 0.9em;
                        color: $gray;
                       
                    }
                }
            }
               
            
 

    }
}

}