#portfolio-gallery {
    margin: 40px 20px 0px 20px;

    #filter-container{
        @include xl{
            display: grid;
            grid-template-columns: auto 1000px auto;
            grid-template-areas: ". gallery .";
        }
        #gallery{
            grid-area: gallery;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(12, 300px);
            gap: 40px;

            @include md{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 300px);
                gap: 40px;
            }

            @include lg{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(8, 300px);
                gap: 40px;
                grid-template-areas: 
                "g1 g2"
                "g1 g3"
                "g5 g4"
                "g6 g4"
                "g7 g8"
                "g7 g9"
                "g11 g10"
                "g12 g10";

            }

            li{
                // background-color: $black;
                // height: 300px;
                width: 100%;
                // border: 1px solid red;

                &:nth-child(1){
                    @include lg{
                        grid-area: g1;
                    }
                }

                &:nth-child(2){
                    @include lg{
                        grid-area: g2;
                    }
                }
                &:nth-child(3){
                    @include lg{
                        grid-area: g3;
                    }
                }

                &:nth-child(4){
                    @include lg{
                        grid-area: g4;
                    }
                }

                &:nth-child(5){
                    @include lg{
                        grid-area: g5;
                    }
                }
                &:nth-child(6){
                    @include lg{
                        grid-area: g6;
                    }
                }
                &:nth-child(7){
                    @include lg{
                        grid-area: g7;
                    }
                }

                &:nth-child(8){
                    @include lg{
                        grid-area: g8;
                    }
                }
                &:nth-child(9){
                    @include lg{
                        grid-area: g9;
                    }
                }
                &:nth-child(10){
                    @include lg{
                        grid-area: g10;
                    }
                }

                &:nth-child(11){
                    @include lg{
                        grid-area: g11;
                    }
                }
                &:nth-child(12){
                    @include lg{
                        grid-area: g12;
                    }
                }

                a:link, a:visited{
                    color: $black;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    display: inline-block;
                }

                .portfolio-project-container{
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-template-rows: auto 35px 30px;
                    grid-template-areas: 
                    "image" 
                    "title" 
                    "tag";

                    .portfolio-cover-image{
                        background-size: cover;
                        background-position: center;
                        grid-area: image;
                    }
                    .portfolio-title{
                        padding-top: 15px;
                        // border: 1px solid yellow;
                        grid-area: title;
                        text-align: left;
                        font-size: 0.9em;

                        @include lg{
                            font-size: 1em;
                        }
                        
                       
                    }
                    .portfolio-tags{
                        // border: 1px solid yellow;
                        grid-area: tag;
                        text-align: left;
                        font-size: 0.85em;
                        color: $gray;
                       
                    }
                }
            }
 

    }
}

}