/* =============
    Navigation
============= */
#nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40%;

    @include lg{
        justify-content: flex-end;
        padding-top: 0%;

    }

    ul {
    
        @include lg {
            height: 100%;
            display: flex;
            justify-content: flex-end;
        }

        li {
            margin-bottom: 40px;
            text-align: left;
            

            @include lg {
                align-items: center;
                display: flex;
                margin-bottom: 0px;
            }


            a{
                color: $orange;
                text-decoration: none;
                font-size: rem-calc(30);

                @include lg{
                    padding: 20px;
                    font-size: rem-calc(18);  
                    color: $white;

                    &:hover{
                        color: $orange;
                        transition: 0.25s;
                    } 
                }
            }

            // .underline{
            //     border: 10px;
            //     border-color: $orange;
            // }
        }

        #contact{
            display: flex;
            justify-content: space-between;
            align-items: center;

            #down-arrow{
                padding-left: 20px;
                height: 30px;
                width: 30px;
                @include lg{
                    display: none;
                }
            }
        }

        
    }
}